h1 {
  text-align: center;
  color: rgb(130, 32, 160);
}
.forecast {
  height: 40px;
}
.temp-banner {
  border: 13px ridge rgba(226, 98, 13, 0.6);
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  background-color: rgba(226, 98, 13, 0.2);
}
.forecast-banner {
  border: 13px ridge rgba(130, 32, 160, 0.6);
  background-color: rgba(130, 32, 160, 0.2);
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
}
.five-day-forecast {
  text-align: center;
  padding: 60px 0;
  border: 13px ridge rgba(130, 32, 160, 0.3);
  background-color: rgba(130, 32, 160, 0.2);
  border-radius: 1px;
}

.current-temp-card {
  text-align: center;
  padding: auto;
  border: 13px ridge rgba(226, 98, 13, 0.3);
  background-color: rgba(226, 98, 13, 0.2);

  border-radius: 1px;
}
.new-location {
  background-color: rgba(130, 32, 160, 0.2);
  border-radius: 3px;
  border: none;
}
.submit {
  background-color: rgba(130, 32, 160, 0.6);
  border-radius: 3px;
  border: none;
}
.actual-temp {
}
.predicted-temp {
}
.location {
  font-weight: 900;
}
.country-location {
}
.forms {
  display: inline;
}
.current-location {
  border-radius: 3px;
  border: none;
  background-color: rgba(226, 98, 13, 0.6);
}
.card-style {
  padding: 10px;
  text-align: center;
}
.diff-day {
  list-style: none;
  font-size: 12px;
}
.current-condition {
  text-transform: capitalize;
}
.source-link {
  font-size: 10px;
  color: #6f42c1;
}
.current-time;
