h1 {
  text-align: center;
}
.forecast {
  height: 40px;
}
.temp-banner {
  border: 13px ridge rgba(226, 98, 13, 0.6);
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  background-color: rgba(226, 98, 13, 0.01);
}
.forecast-banner {
  border: 13px ridge rgba(130, 32, 160, 0.6);
  background-color: rgba(130, 32, 160, 0.01);
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
}
.five-day-forecast {
  text-align: center;
  text-decoration: 42px;

  border: 13px ridge rgba(130, 32, 160, 0.3);
  background-color: rgba(130, 32, 160, 0.01);
  border-radius: 1px;
}

.current-temp-card {
  text-align: center;
  padding: auto;
  border: 13px ridge rgba(226, 98, 13, 0.3);
  background-color: rgba(226, 98, 13, 0.01);

  border-radius: 1px;
}

.actual-temp {
}
.predicted-temp {
}
.city-location {
}
.country-location {
}

.card-style {
  padding: 10px;
  text-align: center;
}
.diff-day {
  list-style: none;
  font-size: 12px;
}
.current-condition {
  text-transform: capitalize;
}
.source-link {
  font-size: 10px;
  color: #6f42c1;
}
